[Desktop Entry]
Name=Quran app
Comment= Simple Quran reading app
Exec=/usr/bin/qapp
Terminal=false
Type=Application
Icon=/opt/qapp/resources/icon.png
Categories=Education
