[Desktop Entry]
Name=Quran app
Comment= Simple Quran reading app
Exec=/usr/bin/qapp
Terminal=false
Type=Application
Icon=/usr/share/qapp/icon.png
Categories=Education
