[Desktop Entry]
Name=Quran app
Comment= Simple Quran reading app
Exec=/usr/local/bin/qapp
Terminal=false
Type=Application
Icon=/opt/Qapp/icon.png
Categories=Education
